.account-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.account-button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #fde1ff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.account-button:hover {
    background-color: #e1ffea;
}